footer{
    background-color: #14274A;

    margin-top: 100px;

    position: relative;
}


// .footer_arrow{
//     position: absolute;

//     width: 80px;
//     height: 80px;
//     transform: rotate(45deg);

//     background-color: rebeccapurple;
// }

.footer_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer_desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__text{
        

        font-size: 16px;
        font-weight: 700;
        
        max-width: 200px;
        max-height: 100px;
        
        color: #fff;
        
        width: 200px;
        height: 100px;
        
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        letter-spacing: 6px;

        span{
            font-size: 8px;
        }
    }

    &__p{
        color: #fff;
        font-size: 12px;

        margin-top: 0;
    }
}

.footer_nav{

    &__ul{
        list-style: none;
        color: #fff;

        &_li{
            margin-bottom: 10px;

            a{
                text-decoration: none;
                
                color: #fff;
                
                font-weight: 500;
            }
        }
    }
}


.footer_media_links{
    color: #fff;


    a{
        text-decoration: none;
        color: #fff;

        font-weight: 500;
    }
    &__facebook{
        display: flex;


        &_text{
            margin-bottom: 10px;
        }

        &_img{
            width: 20px;
            height: 20px;

            background-image: url('/media/footer/facebook.png');
            background-position: center;
            background-repeat: no-repeat;

            margin-right: 10px;
        }
    }

    &__twitter{
        display: flex;

        &_text{
            margin-bottom: 10px;
        }

        &_img{
            width: 20px;
            height: 20px;

            background-image: url('/media/footer/twitter.png');
            background-position: center;
            background-repeat: no-repeat;

            margin-right: 10px;
        }
    }

    &__instagram{
        display: flex;

        &_img{
            width: 20px;
            height: 20px;

            background-image: url('/media/footer/instagram.png');
            background-position: center;
            background-repeat: no-repeat;

            margin-right: 10px;
    }
}

}