.main_text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  font-size: 20px;
  font-weight: 500;
}

.main_room1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}
.main_room1__data {
  display: flex;
}
.main_room1__data__line {
  border: none;
  border-left: 2px solid hsl(200, 10%, 50%);
  height: 240px;
  width: 1px;
  margin: 0;
}
.main_room1__data_container {
  margin-left: 20px;
}
.main_room1__data_container_text {
  font-size: 32px;
  margin-top: 0;
}
.main_room1__data_container_p {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
.main_room1__data_container_btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #E0B973;
  color: #fff;
  border: none;
  border-radius: 8px;
  width: 140px;
  height: 36px;
  cursor: pointer;
}
.main_room1__data_container_btn_text {
  font-size: 14px;
  font-weight: 600;
}
.main_room1__data_container_btn:hover {
  background-color: #c79841;
}
.main_room1__img img {
  max-width: 440px;
  max-height: 440px;
}

.main_room2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}
.main_room2__data {
  display: flex;
}
.main_room2__data__line {
  border: none;
  border-left: 2px solid hsl(200, 10%, 50%);
  height: 240px;
  width: 1px;
  margin: 0;
}
.main_room2__data_container {
  margin-left: 20px;
}
.main_room2__data_container_text {
  font-size: 32px;
  margin-top: 0;
}
.main_room2__data_container_p {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
.main_room2__data_container_btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #E0B973;
  color: #fff;
  border: none;
  border-radius: 8px;
  width: 140px;
  height: 36px;
  cursor: pointer;
}
.main_room2__data_container_btn_text {
  font-size: 14px;
  font-weight: 600;
}
.main_room2__data_container_btn:hover {
  background-color: #c79841;
}
.main_room2__img img {
  max-width: 440px;
  max-height: 440px;
}

.main_change_page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
.main_change_page__title {
  font-size: 42px;
  margin-bottom: 0;
}
.main_change_page__p {
  margin-bottom: 0;
  font-weight: 600;
}
.main_change_page__desc {
  font-weight: 500;
}
.main_change_page__btns {
  display: flex;
}
.main_change_page__btns_btn1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #E0B973;
  color: #fff;
  border: none;
  border-radius: 8px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  margin-right: 10px;
  font-weight: 900;
}
.main_change_page__btns_btn2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #E0B973;
  color: #fff;
  border: none;
  border-radius: 8px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  margin-left: 10px;
  font-weight: 900;
}/*# sourceMappingURL=home.css.map */