main{

    .mainTitle{
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 60px;

        font-size: 20px;
        font-weight: 500;
    }

    .mainContainer{

        &__rooms{

            &_room{
                display: flex;
                justify-content: space-around;
                align-items: center;

                margin-top: 100px;

                &_data{

                    display: flex;

                    position: relative;
            
                    &_line{
                        border:         none;
                        border-left:    2px solid hsla(200, 10%, 50%,100);
                        
                        position: absolute;

                        min-height: 104%;
                        max-height: 104%;

                        height:         100%;
                        width:          1px; 
                        
                        margin: 0;
                    }
            
                    &_content{
                        margin-left: 20px;
                        &_text{
                            font-size: 32px;
                
                            margin-top: 0;
                        }
                        
                        
                        
                        &_paragraph{
                            font-weight: 500;
                            font-size: 14px;
                
                            line-height: 24px;
                        }
                
                        &_btn{
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                            
                            background-color: #E0B973;
                            color: #fff;
                
                            border: none;
                            border-radius: 8px;
                
                            width: 140px;
                            height: 36px;
                
                            cursor: pointer;
                
                            &_text{
                                font-size: 14px;
                                font-weight: 600;
                            }
                        }
                
                        &_btn:hover{
                            background-color: #c79841;
                        }
                    }
                }
                &_img{
       
                    img{
                        max-width: 440px;
                        max-height: 440px;
                    }
                 }
            }
        }
        
        &__rooms>div:nth-child(2){
            flex-direction: row-reverse;

            .mainContainer__rooms_room_data{
                flex-direction: row-reverse;
            }

            .mainContainer__rooms_room_data_content{
                margin-left: 0;
                margin-right: 20px;
            }
        }
    }
}