body{
    margin: 0;
    padding: 0;
}

header{
    height: 760px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
}

.header_container{
    width: 1000px;
}

.header_menu{
    display: flex;
    justify-content: space-between;
}

.headerLogo{
    font-size: 32px;
    font-style: normal;
    font-weight: 700;

    background-color: #E0B973;
    max-width: 200px;
    max-height: 100px;

    color: #14274A;

    width: 200px;
    height: 100px;

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    letter-spacing: 6px;

    &__span{
        font-size: 12px;
        letter-spacing: 8px;
    }
}

.headerNav{
    list-style: none;

    display: flex;
    align-items: center;

    &__li{
        margin-right: 60px;
        display: flex;


        &_a{
            text-decoration: none;
            color: #fff;

            &_selected{
                text-decoration: underline;
                font-weight: 600;
            }
        }
        &_a:hover{
            text-decoration: underline;
        }
    }
}

.header_text__text{
    color: #fff;

    margin-top: 100px;

    &_welcome{
        font-size: 26px;
        font-weight: 300;
    }
    &_luxury{
        font-size: 80px;
        font-weight: 700;
        letter-spacing: 8px;

        max-height: 82px;
    }
    &_hotel{
        font-size: 32px;
        font-weight: 700;
        letter-spacing: 12px;
    }
    &_p{
        letter-spacing: 2.5px;
        font-size: 14px;
        margin: 0;
    }
}

.header_btn_container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 140px;
    
    &__btn{
        display: flex;
        align-items: center;
        justify-content: space-around;
    
        background-color: #E0B973;
        color: #fff;
        
        border: none;
        border-radius: 8px;

        height: 60px;
        width: 180px;

        cursor: pointer;
    
        &_text{
            font-size: 18px;
            font-weight: 600;
        }

        &_img{
            max-width: 24px;
            max-height: 18px;
        }
    }

    &__btn:hover{
        background-color: #c79841;
    }
}

.header_scroll_container{
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin-top: 60px;
    
    &__text{
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        font-weight: 600;
    }

    &__btn{
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 12px;
        &_img{
            max-width: 44px;
            max-height: 44px;

            cursor: pointer;
        }
    }
}