body{
    margin: 0;
    padding: 0;
}


.slider_img{
    max-width: 150px;
    max-height: 150px;
}

.slider{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.slick-arrow{
    max-width: 80px;
    max-height: 40px;
}

.slider{
    max-width: 300px;
}