body {
    margin: 0;
    padding: 0;
}

/* Task1 */
.fruit-list{
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 10px;
    padding-top: 16px;
    padding-bottom: 10px;
    background-color: #ed9eb1;

}
.fruit-list li{
    list-style-position: inside;
    background-color: #c66377;
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
    padding-bottom: 8px;
    margin-left: 10px;
}

.fruit-list span{
    padding-left: 10px;
    background-color: #9c344b;
    padding-bottom: 8px;
    padding-right: 10px;
}



/* Task2 */
/* .to-do-list{
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
}


h1{
    padding-left: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.to-do-list li{
    padding-bottom: 16px;
}

.d-list{
    background-color: #e2e2e2;
}

.nd-list{
    background-color: #a5ccdb;
}

.nd-list-dif{
    background-color: #add9e6;
} */


/* Task3 */
/* body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
}

.comment{
    color: rgb(167, 161, 161);
}

.bold-text{
    color: rgb(131, 131, 131);
    font-weight: 900;
}

.synonyms{
    color: rgb(63, 108, 233);
} */